@import "tailwindcss";

@theme {
    --color-primary: #1d4ed8;
    --color-secondary: #0f172a;
    --color-accent: #38bdf8;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}

body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Inter', system-ui, sans-serif;
}
